<!DOCTYPE html>
<html>
  <head>
    <title>Pyyle</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Original+Surfer|Averia+Sans+Libre" type="text/css">
    <script></script>
  </head>
  <body>
    <div id="heading">
      <h1>Pyyle</h1>
    </div>
    <a href="#" id="left" class="arrow">&lt;</a>
    <div id="card">
      <div id="card-head">
        <input type="textbox" placeholder="Card Topic" class="title">
        <input type="textbox" placeholder="ID" class="id">
      </div>
      <div id="card-body">
        <textarea placeholder="         Description of important fact"></textarea>
      </div>
      <div id="card-foot">
        <input type="textbox" placeholder="PP #" class="page">
      </div>
    </div>
    <a href="#" id="right" class="arrow">&gt;</a>
    <div style="margin-top: 50px" class="center">
      <a id="btn-print" href="#">Print</a>
      <a id="btn-evernote" href="#">Evernote</a>
    </div>
    <div id="footer">
      <p>Made with <span style="color:red"><3</span> by Avi.</p>
    </div>
  </body>
</html>